# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.classpath
.project
.vscode
*.class
/bin/
aims.session.sql
*.ipynb
test/notebook
*.xml
*.prefs
/lib/*
/classes/*
